.shopCard {
  background-size: cover;
  background-position: center;
  aspect-ratio: 5/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopLogo {
  display: block;
  max-width: 100%;
  height: 64px;
  object-fit: contain;
  object-position: left center;
}

.shopCardlink {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
  max-width: 300px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.shopCardlink > * {
  color: inherit;
  text-decoration: none;
}
