.modal > .modal-dialog {
  max-width: 80%;
}

.bottomLine {
  font-weight: 500;
  border-top: 3px solid var(--tblr-border-color);
  padding: 8px;
  margin-top: 8px;
  margin-right: -8px;
  text-align: right;
}

.callout {
  outline-width: 4px;
  outline-style: solid;
  outline-offset: 4px;
  animation: pulse 2s infinite;
}

/* An animation that slowly pulses through 0.05 to 0.25 of 	rgb(214,57,57) */
@keyframes pulse {
  0% {
    outline-color: rgba(214, 57, 57, 0.2);
  }
  50% {
    outline-color: rgba(214, 57, 57, 1);
  }
  100% {
    outline-color: rgba(214, 57, 57, 0.2);
  }
}

.tabcard {
  min-width: 500px;
  max-width: 500px;
}

@media screen and (max-width: 1200px) {
  .tabcard {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
