.sidenav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-right: 2px solid #e0e0e0;
  width: 200px;
  margin-top: -10px;
  padding-left: 0;
}

.sidenav hr {
  margin: 8px 0;
  margin-right: -8px;
}
